
body{
    margin: 0;
}
.wrapper{
    border-top: 8px solid #a292b3;
    display: flex;
    align-items:  center;
    flex-direction: column;
}
.header{
    height: 130px;
    width: 1020px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.link-item{
    text-decoration: none;
    font-size: 19px;
    color: #545454;
    text-transform: capitalize;
    margin-right: 65px;
}
.link-item:last-child{
    margin-right: 0;
}
.banner{
    width: 1020px;
    height: 485px;
    background-color: yellow;
    background-image: url('../images/img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide-btn{
    width: 35px;
    height: 65px;
    background-color: #82699d;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.banner-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.banner-title{
    font-size: 117px;
    text-transform: capitalize;    
    text-shadow: -4px 5px 0 rgba(0, 0, 0, 0.75);
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}
.banner-descr{
    font-size: 31px;
    text-shadow:-2px 2px 0 rgba(0, 0, 0, 0.45);
   
}

.tips{
    width: 1020px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 20px 50px 25px 50px;
    margin-top: 40px;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    line-height: 32px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tips-bold{
    font-weight: bold;
    color: #82699d;
}

.card{
    width: 1020px;
    padding: 0 22px;
    box-sizing: border-box;
    height: 315px;
    display: flex;
    position: relative;
    margin-top: 31px;
    align-items: center;
}

.card-info{
    margin-left: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title{
    font-weight: bold;
    font-size: 31px;
}

.card-text{
    font-weight: 400;
    font-size: 15px;
    color: #838383;
}
.more{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    font-style: italic;
    color: #838383;
    cursor: pointer;
    transition: .4s;
}

.more:hover{
    filter: hue-rotate(120deg);/* управление измененим цвета*/
    color: purple;    
}

.divider{
    width: 1020px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    display: flex;
    align-items: center;
}

.divider-line{
    width: 100%;
    margin-left: 8px;
    border-top: 6px dotted #bfbfbf;
}

.divider-text{
    white-space: nowrap;/*запрещение переноса текста*/
}

.clients{
    width: 1020px;
    background-color: #f5f5f5;
    border: 1px solid #e4e4e4;
    display: flex;  
    margin: 44px 0 61px 0;  
}

.client-item{
    width: 100%;
    height: 73px;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e4e4e4;    
}

.client-item:last-child{  /*выбор последнего элемента*/
    border-right: none;
}

.footer{
    width: 100%;
    height: 67px;
    background: linear-gradient(to right, red, yellow);
    display: flex;
    justify-content: center;
    border-bottom: 8px solid #a292b3;
}

.footer-content{
    width: 1020px;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    width: 83px;   
    display: flex;
    justify-content: space-between;
}

.menu{
    width: 80px;
    height: 80px;
    border: 3px solid #82699d;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;


}
.menu-line{
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: relative;
    transition: .3s;


}
.menu-line::before{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: .3s;

}
.menu-line::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    top: 15px;
    transition: .3s;
}
.menu:hover>.menu-line{ /* вложение в кнопку*/
    background-color:transparent;
}
.menu:hover>.menu-line::after{
    transform: rotate(-45deg);
    top: 0;
}
.menu:hover>.menu-line::before{
    transform: rotate(45deg);
    bottom: 0;
}
@media screen and (max-width: 1020px) { /*адаптив*/

.header{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.logo{
    width: 150px;
}
.links{
    display: none;
}
.banner{
    width: 100%;
}
.tips{
    width: 100%;

}
.card{
    width: 100%;
    flex-direction: column;
    height: auto;
}
.divider{
    width: 100%;
    justify-content: center;

}
.divider-text{
    font-size: 17px;
}
.divider-line{
    display: none;
}
.clients{
    width: 100%;
    flex-direction: column;
}
.footer-content{
    width: 100%;
    padding: 0 10px;
    box-sizing:border-box ;
}
.menu{
    display: flex;
}
.banner-title{
    font-size: 70px;
}
/*pixel perfect*/
/*
bitbucket.org

github.com

gitlab.com
 хранилище

git --version

git config user.name my_name -g только на своём компьютере
git config user.email my_email -g =/=

*/